.row.no-gutter {
    margin-left: 0;
    margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
    padding-right: 0;
    padding-left: 0;
}

.glyphicon-xl {
    font-size: x-large;
}

li.scribbit h3 {
    margin-top: 10px;
}

li.scribbit h3 a.edit {
    padding-left: 12px;
}

#bit-editor{
    width:99%;
    min-height:100px;
    font-size:1.4em;
}

#bit-preview{
    background-color: #eee;
    border: 1px solid #ddd;
    min-height:100px;
    padding-left: 3px;
    border-radius: 2px;
    font-size:1.4em;
}

.panel-heading.custom {
    padding: 0px 5px;
}

.panel-heading.custom h3 {
    margin: 0px;
    padding: 12px 0 5px 5px;
    color: #999;
    font-weight: 400;
}

.panel-body.markdown {
    font-size:1.5em;
}

.editor-buttons {
    padding: 10px 0;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 50%;
  margin: 0 18px;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}