body {
    background-color: #e9e2e4;
    font-family: 'Palanquin', sans-serif;
}

a:hover {
    text-decoration: none;
}

.glyphicon-xl {
    font-size: 1.6em;
}

.row.no-gutter {
    margin-left: 0;
    margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
    padding-right: 0;
    padding-left: 0;
}

.btn-lg {
    font-size: x-large;
    line-height: 95%;
}

.navbar-brand.custom {
    font-family: 'Sonsie One', cursive;
    font-size: 1.75em
}

li.scribbit h3 {
    margin-top: 10px;
}

li.scribbit h3 a.edit {
    padding-left: 12px;
}

#bit-editor{
    width:99%;
    min-height:100px;
    font-size:1.4em;
    border-radius: 10px;
    margin-bottom: 10px;
}

#bit-preview{
    background-color: #eee;
    border: 1px solid #ddd;
    min-height:100px;
    padding-left: 3px;
    border-radius: 10px;
    font-size:1.4em;
    margin-bottom: 10px;
}

.panel.custom {
    border-radius: 10px;
}

.panel-heading.custom {
    padding: 0px 5px;
    border: 0;
    background-color: #fff;
    background-image: none;
    border-radius: 10px;
}

.panel-heading.custom h3 {
    margin: 0px;
    padding: 12px 0 5px 5px;
    color: #999;
    font-weight: 400;
    font-size:1.3em;
}

.panel-heading.custom .btn-group {
    margin-top: 5px;
}

.panel-body.markdown {
    font-size:1.5em;
}

.editor-buttons {
    padding: 10px 0;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 50%;
    margin: 0 18px;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 30px;
    font-weight: bolder;
    line-height: 1.33;
    border-radius: 35px;
}