<!-- Markdown Helper Modal -->
<div class="modal fade" id="markdownModal" tabindex="-1" role="dialog" aria-labelledby="markdownModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="markdownModalLabel">Markdown Syntax</h4>
            </div>
            <div class="modal-body">
                <p><img class="img-responsive deferred" src="#" data-src="{{baseUrl()}}/img/markdown_cheatsheet.jpg"></p>
                <p><small>Markdown basics on <a href="https://help.github.com/articles/markdown-basics/">Github</a></small></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Upload Modal -->
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="uploadModalLabel">Add Images</h4>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <input id="image-url" type="text" class="form-control input-lg" placeholder="Image URL...">
                    <span class="input-group-btn">
                        <button class="btn btn-success btn-lg" type="submit" data-url="{{urlFor('bit-save-web-image', {'scribbit': scribbit})}}">
                            <span class="glyphicon glyphicon-cloud-download"></span>
                        </button>
                    </span>
                </div>

                <h3 class="text-center"> -- OR -- </h3>

                <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn btn-success btn-lg fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Add files</span>
                    <!-- The file input field used as target for the file upload widget -->
                    <input id="fileupload" type="file" name="uploadedImage" data-url="{{urlFor('bit-upload-image', {'scribbit': scribbit})}}" capture="camera" accept="image/*" >
                </span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>