<!-- Markdown Helper Modal -->
<div class="modal fade" id="markdownModal" tabindex="-1" role="dialog" aria-labelledby="markdownModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="markdownModalLabel">Markdown Syntax</h4>
            </div>
            <div class="modal-body">
                <p><img class="img-responsive" src="{{baseUrl()}}/img/markdown_cheatsheet.jpg"></p>
                <p><small>Markdown basics on <a href="https://help.github.com/articles/markdown-basics/">Github</a></small></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
                
<!-- Upload Modal -->
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="uploadModalLabel">Upload</h4>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <input id="image-url" type="text" class="form-control input-lg" placeholder="Image URL...">
                    <span class="input-group-btn">
                        <button class="btn btn-success btn-lg" type="submit" data-url="{{urlFor('bit-save-image', {'scribbit': scribbit})}}" data-dismiss="modal"><span class="glyphicon glyphicon-plus"></span></button>
                    </span>
                </div>
                {#<input id="fileupload" type="file" name="files[]" data-url="server/php/" multiple>#}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>