{% include 'header.html' %}
<h1><a href="/"><span class="glyphicon glyphicon-triangle-left"></span> {{scribbit}}</a></h1>

<input type="hidden" name="scribbit" id="scribbit" value="{{scribbit}}">
<input type="hidden" name="bit" id="bit" value="">
<div class="row no-gutter">
    <div class="col-sm-12 col-lg-6">
        <div id="bit-editor">Write some **markdown** here...</div>
    </div>
    <div class="col-sm-12 col-lg-6">
        <div id="bit-preview"></div>
    </div>
</div>
<div class="row">
    <div class="text-center editor-buttons">
        <button class="btn btn-primary btn-xl btn-circle save"><span class="glyphicon glyphicon-xl glyphicon-ok"></span></button>
        <button class="btn btn-default btn-xl btn-circle cancel"><span class="glyphicon glyphicon-xl glyphicon-remove"></span></button>
    </div>
</div>

{% for date, bit in bits %}
<div class="panel panel-default" data-bit="{{bit.name}}" data-scribbit="{{scribbit}}">
    <div class="panel-heading">
        <h3 class="pull-left">{{date}}</h3>
        <div class="btn-group pull-right bit" role="group">
            <a href="#" class="btn btn-link btn-lg edit" rel="tooltip" title="edit"><span class="glyphicon glyphicon-xl glyphicon-edit"></span></a>
            <a href="/bit/download/{{scribbit}}/{{bit.name}}" class="btn btn-link btn-lg download" rel="tooltip" title="download"><span class="glyphicon glyphicon-xl glyphicon-download"></span></a>
            <button class="btn btn-link btn-lg delete" rel="tooltip" title="delete" data-toggle="modal" data-target="#deleteModal"><span class="glyphicon glyphicon-xl glyphicon-remove"></span></button>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body markdown" data-source="{{bit.contents}}"></div>
</div>
{% endfor %}
{% include 'footer.html' %}
