<!DOCTYPE html>
<html>
    <head>
        <title>Scribbits</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/site.css">
    </head>
    <body>
        <div id="addProject"></div>
        <form action="/project" method="post">
            <div><input name="name" id="newProject" placeholder="Project name:" type="text"></div>
            <div><button type="submit" id="np">+</button></div>
        </form>
        
        {% for dir in dirs %}
        <a href="/project/{{dir}}"><div>{{ dir }}</div></a>
        {% endfor %}
    </body>
</html>
